<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Fridege-Cloud</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/history">Food</a></li>
                <li><a href="#" onclick="openModal('settings-modal')">Settings</a></li>
            </ul>
        </div>
    </nav>
    <div id="settings-modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
            </div>
        </div>
    </div>
</header>