<div class="main-container" align="center">
    <br><br><br>
    <div class="container">
        <div class="container">
            <form method="post" action="/login" class="center">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required minlength="5">
                </div>
                <br>
                <button type="submit" class="btn pink waves-effect waves-dark">Sign in</button>
            </form>
        </div>
        <br>
    </div>
</div>