<div class="main-container" align="center">
  <img src="logo-design.png"/>
  <div class="container">
    <div class="row">
        <div class="input-field col offset-s3 s6">
          <input id="username" type="text" class="validate">
          <label for="username">User name</label>
        </div>
      <div class="col s12">
        <div><h1>Share it,<br>
          Save it!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
