<div align="center">
    <h4>Welcome</h4>
</div>



<div class="main-container" align="center">
    <a href="https://www.google.com" class="waves-effect waves-light btn-small">Hello {{person}}</a>
</div>