<div class="main-container" align="center">
  <img src="logo-design.png"/>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div><h1>Share it,<br>
          Save it!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
