<div class="main-container" align="center">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">search the best</label>
            <p class="range-field">
              <input type="range" id="test5" min="0" max="100" />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form action="#">

</form>

{{# if food }}
<ul class="collection">
  {{# each food as |f key|}}
  <li>
    <h1>{{f.type}}-{{ f.name }}<h1>
    <h2>{{ f.name }} {{ f.name }}<h2>
    </p>
  </li>
  {{/each}}
</ul>
{{/if}}
</div>
