<div align="center">
    <h4>Welcome</h4>
</div>

<div class="main-container" align="center">
  <form action="#">
   <p class="range-field">
     <input type="range" id="test5" min="0" max="100" />
   </p>
 </form>
 
  {{# if food }}
      <ul class="collection">
          {{# each food as |f key|}}
              <li>
                <p>{{ f.id }} {{ f.name }}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
          {{/each}}
      </ul>
  {{/if}}
</div>
