<div class="main-container" align="center">
  {{# if food }}
      <ul class="collection">
          {{# each food as |f key|}}
              <li>
                <p>{{ f.id }} {{ f.name }}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
          {{/each}}
      </ul>
  {{/if}}
</div>
