* {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: Catamaran;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

/* HEADER */

.nav-wrapper {

}

.brand-logo {
  display: block;
  margin-left: 20px;

}

.sidenav-trigger {

}

.material-icons {

}

.leftover-btn {

}

#mobile-demo {

}




/* INDEX */

img {
  max-width: 50%;
  margin-top: 50px;
}

.slogan {
  background-color: #;
  color: #fff;
  font-weight: bold;
}
