* {
  font-family: Catamaran;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

/* HEADER */

header {
  background-color: #4db6ac;
}
.nav-wrapper {

}

.brand-logo {
  display: block;
  margin-left: 20px;

}

.sidenav-trigger {

}

.material-icons {

}

.leftover-btn {
  background-color: #e26824;
  transition: 80%;
}

#mobile-demo {

}



/* INDEX */

img {
  max-width: 40%;
  margin-top: 50px;
}

.slogan {
  background-color: #e26824;
  color: #fff;
  font-weight: bold;
  width: 50%;
  height: 150px;
}
